.date {
  float: right;
  font-size: 15px;
  font-style: italic;
  color: gray;
}

.image {
  max-width: 670px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.likes {
  margin-bottom: 10px;
}

.buttons {
  margin-bottom: 20px;
  font-size: 20px;
  button {
    margin-right: 10px;
    border-radius: 50%;
  }
  .like {
    color: rgb(122, 122, 122);
    &:hover {
      color: #62ce24;
    }
  }
  .disLike {
    color: rgb(122, 122, 122);
    &:hover {
      color: rgb(255, 113, 113);
    }
  }
}

.disable-like {
  pointer-events: none;
  display: none;
}

.comment {
  margin-bottom: 20px;
}

.delete {
  border-radius: 50%;
}

li {
  margin-bottom: 20px;
}

i {
  margin-left: 1px;
}
