<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">OnOpp</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item home"><a class="nav-link" href='#'><i class="fas fa-home"></i> home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class='navbar-item' routerLink='active'><a class="nav-link" href="">New Account</a></li>
      <li class="navbar-item"><a class="nav-link" href="#">Log-in</a></li>
    </ul>
  </div>
</nav>
