<div class="col-sm-8 col-sm-offset-2">
  <div class="list-group">
    <div class="list-group-item">
      <div>{{ post.caption }}</div>
      <img style="max-width: 500px;" src="{{ post.image }}" >
        <div>Author: {{ post.author }}</div>
      <br>
      <div>
        <label for="comments">Comments:</label>
        <ul class="list-group">
          <li class="list-group-item" *ngFor='let comment of post.comments | slice:1'>{{ comment }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
